.x1920-content-pane {
  align-items: center;
  align-self: stretch;
  background-color: #f4e5fd;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

